html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #20232A;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav-container .nav-item {
  font-size: 1rem;
}

.nav-container .bubble {
  position: absolute;
  z-index: -2;
  background: -webkit-gradient(linear, left bottom, right top, from(#f46b45), to(#eea849));
  background: linear-gradient(to right top, #f46b45, #eea849);
  -webkit-box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.74);
          box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.74);
  -webkit-transform: scale(2);
          transform: scale(2);
  border-radius: 5px;
}

.nav-container a {
  color: #fff;
}

.nav-container a:hover {
  color: #61DAFB;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  color: #E31B6D;
  font-weight: 800;
  font-size: 1.1rem;
  padding: 1em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  font-size: 1.1rem;
}

header ul li a {
  display: block;
  padding: 0 0.5em;
}

.social-header, .content-graphic, .project-specs {
  display: none;
}

.hero {
  width: 100%;
  background: #282C34;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding-top: 2em;
}

.hero .content {
  line-height: 3em;
}

.hero h1 {
  font-size: 2.5rem;
  line-height: 1.5em;
  color: #fff;
}

.hero p {
  color: #61DAFB;
  font-size: 1.3rem;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.myEducation {
  background-color: rgba(157, 171, 192, 0.28);
}

.myEducation .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myEducation .mobile-order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.myEducation .mobile-order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.myEducation h1 {
  color: #5A5A5A;
  font-size: 2rem;
}

.myEducation .cards-container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  place-content: center;
  grid-gap: 2em;
}

.myEducation .cards-container ul li {
  background: transparent;
  -webkit-box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2), -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
          box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2), -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
  border-radius: 40px;
  padding: 4px 30px 20px;
  margin-bottom: 2em;
  max-width: 15rem;
}

.myEducation .cards-container ul li .card-title {
  color: #5A5A5A;
  font-weight: 700;
  font-size: 1.1rem;
  padding-top: 20px;
}

.myEducation .cards-container ul li .card-sub {
  padding: 0 3em 1em 3em;
  font-size: 0.9rem;
}

.myEducation .cards-container ul li .btn-container {
  padding: 1.7em 1em;
}

.myEducation .cards-container ul li .btn-explore {
  width: 125px;
  height: 23px;
  background: rgba(55, 84, 170, 0.49);
  padding: 0.7em 4em;
  font-size: 1rem;
  color: #000;
  font-weight: 700;
  border-radius: 20px;
  margin: 1em;
}

.myEducation .cards-container ul li .btn-explore:hover {
  background: rgba(55, 84, 170, 0.6);
  color: #fff;
}

.myEducation .cards-container ul li .icon-container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myEducation .cards-container ul li .icon-container.one {
  width: 200px;
  margin: 0 auto;
}

.myEducation .cards-container ul li .icon-container.two {
  width: 250px;
  margin: 0 auto;
}

.myEducation .cards-container ul li .icon-container.three {
  width: 200px;
  margin: 0 auto;
}

.myEducation .cards-container ul li .icon-container.four {
  width: 250px;
  margin: 0 auto;
}

.myEducation .profile-container {
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myEducation .profile-container h3 {
  padding: 1.5em 0 1.5em 0;
}

.myEducation .profile-container p {
  line-height: 1.2rem;
}

.myEducation .profile-container .cv-headline {
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
}

.myEducation .profile-container .wrap-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.myEducation .profile-container .wrap-indicator span {
  font-size: 30px;
}

.myEducation .profile-container #profile-img {
  width: 20rem;
  border-radius: 25px;
  background: #FFFFFF;
  -webkit-box-shadow: 12px 12px 24px #8f8f8f,  -12px -12px 24px #ffffff;
          box-shadow: 12px 12px 24px #8f8f8f,  -12px -12px 24px #ffffff;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.myEducation .profile-container #profile-img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.myEducation .stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0 2em 0;
}

.myEducation .stats-container .bar-flex {
  padding-bottom: 2em;
}

.myEducation .stats-container .bar-flex .inset {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 315px;
  height: 30px;
  border-radius: 30px;
  background: #E6E6E6;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.8);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.8);
}

.myEducation .stats-container .bar-flex .inset .statusBar {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  background-color: rgba(55, 84, 170, 0.44);
  background-size: 100%;
}

.myEducation .stats-container .bar-flex .inset .statusBar.html {
  -webkit-animation: bar-html 3s ease;
          animation: bar-html 3s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.myEducation .stats-container .bar-flex .inset .statusBar.css {
  -webkit-animation: bar-css 3s ease;
          animation: bar-css 3s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.myEducation .stats-container .bar-flex .inset .statusBar.js {
  -webkit-animation: bar-js 3s ease;
          animation: bar-js 3s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.myEducation .stats-container .bar-flex .inset .statusBar.ui {
  -webkit-animation: bar-ui 3s ease;
          animation: bar-ui 3s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.myEducation .stats-container .bar-flex .inset .statusBar::before {
  position: absolute;
  right: 0;
  bottom: calc(100% + 5px);
  z-index: 1;
  display: inline-block;
  width: 0;
  height: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-top-color: black;
  content: "";
}

.myEducation .stats-container .bar-flex .inset .statusBar::after {
  position: absolute;
  right: 0;
  bottom: calc(100% + 5px);
  z-index: 1;
  display: inline-block;
  content: attr(data-label);
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8em;
  color: #5A5A5A;
  font-weight: 700;
}

@-webkit-keyframes bar-html {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes bar-html {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@-webkit-keyframes bar-css {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes bar-css {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes bar-js {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes bar-js {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@-webkit-keyframes bar-ui {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

@keyframes bar-ui {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

.myEducation .stats-container .bar-flex .inset .tag {
  position: relative;
  border-radius: 30px;
  width: 60px;
  height: 30px;
  background: #E6E6E6;
  -webkit-box-shadow: 6px 6px 15px #c4c4c4,  -6px -6px 15px #ffffff;
          box-shadow: 6px 6px 15px #c4c4c4,  -6px -6px 15px #ffffff;
}

.myEducation .stats-container .bar-flex .inset .tag p {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  color: #5A5A5A;
  font-weight: 700;
  text-transform: uppercase;
}

.mywork {
  background-color: #fff;
}

.mywork h1 {
  color: #5A5A5A;
  padding-bottom: 1.5em;
  font-size: 2rem;
}

.mywork .navigation-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3.5rem;
}

.mywork .navigation-btn a {
  color: #20232A;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
}

.mywork .portfolio-container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 2em;
  place-content: center;
}

.mywork .portfolio-container .project-card {
  width: 20rem;
  height: 15rem;
  -webkit-box-shadow: 6px 12px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 12px 16px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mywork .portfolio-container .project-card.bg-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.41))), url(../assets/images/portfolio_imgs/los-anglinos_tacos.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.41)), url(../assets/images/portfolio_imgs/los-anglinos_tacos.jpg);
  background-position: center;
  background-size: cover;
}

.mywork .portfolio-container .project-card.bg-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.41))), url(../assets/images/portfolio_imgs/wisec.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.41)), url(../assets/images/portfolio_imgs/wisec.jpg);
  background-position: center;
  background-size: cover;
}

.mywork .portfolio-container .project-card.bg-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.41))), url(../assets/images/portfolio_imgs/ems_fitness.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.41)), url(../assets/images/portfolio_imgs/ems_fitness.jpg);
  background-position: center;
  background-size: cover;
}

.mywork .portfolio-container .project-card .inner-stroke {
  width: 15rem;
  height: 10rem;
  color: transparent;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mywork .portfolio-container .project-card .inner-stroke p {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.hireMe {
  background-color: #282C34;
}

.hireMe .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2em;
}

.hireMe .content-container h2 {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
}

.hireMe .content-container .question {
  padding-bottom: 2em;
  color: #61DAFB;
  font-weight: 500;
  font-size: 0.8rem;
}

.hireMe .content-container input, .hireMe .content-container button {
  font-weight: 700;
  letter-spacing: 1.4px;
}

.hireMe .content-container .screen {
  position: relative;
  background: #20232A;
  border-radius: 15px;
}

.hireMe .content-container .screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.hireMe .content-container .screen-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hireMe .content-container .screen-header-left {
  margin-right: auto;
}

.hireMe .content-container .screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.hireMe .content-container .screen-header-button.close {
  background: #FC6058;
}

.hireMe .content-container .screen-header-button.maximize {
  background: #FEC02F;
}

.hireMe .content-container .screen-header-button.minimize {
  background: #2ACA3E;
}

.hireMe .content-container .screen-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hireMe .content-container .screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.hireMe .content-container .screen-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hireMe .content-container .screen-body-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}

.hireMe .content-container .app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.hireMe .content-container .app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.hireMe .content-container .app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.hireMe .content-container .app-form-group {
  margin-bottom: 15px;
}

.hireMe .content-container .app-form-group.message {
  margin-top: 40px;
}

.hireMe .content-container .app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.hireMe .content-container .app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
}

.hireMe .content-container .app-form-control::-webkit-input-placeholder {
  color: #666;
}

.hireMe .content-container .app-form-control:-ms-input-placeholder {
  color: #666;
}

.hireMe .content-container .app-form-control::-ms-input-placeholder {
  color: #666;
}

.hireMe .content-container .app-form-control::placeholder {
  color: #666;
}

.hireMe .content-container .app-form-control:focus {
  border-bottom-color: #ddd;
}

.hireMe .content-container .app-form-button {
  background: none;
  border: none;
  color: #E31B6D;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.hireMe .content-container .app-form-button:hover {
  color: #fff;
}

footer {
  background-color: #20232A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .social-container {
  margin: 0 auto;
  padding: 1.7em 1em 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-container .social-card {
  width: 35px;
  height: 35px;
  background-color: #5A5A5A;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-container .social-card .flaticon-github {
  color: #fff;
}

footer .social-container .social-card .flaticon-github:hover {
  color: #61DAFB;
}

footer .social-container .social-card .flaticon-outlook {
  color: #fff;
}

footer .social-container .social-card .flaticon-outlook:hover {
  color: #61DAFB;
}

footer .social-container .social-card .flaticon-linked-in-logo-of-two-letters {
  color: #fff;
}

footer .social-container .social-card .flaticon-linked-in-logo-of-two-letters:hover {
  color: #61DAFB;
}

footer .legal {
  padding: 1em;
  margin: 0 auto;
}

footer .legal a {
  text-decoration: none;
  color: #61DAFB;
  font-weight: 300;
  font-size: 0.9rem;
}

footer .credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

footer .credentials .author {
  color: #8F9AA7;
  font-size: 0.7rem;
}

.datenschutz, .imprint {
  text-align: left;
}

@media screen and (max-width: 520px) {
  .screen-body {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .app-title {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .app-title span {
    margin-right: 12px !important;
  }
  .app-title:after {
    display: none !important;
  }
}

@media screen and (min-width: 600px) {
  .screen {
    width: 30rem !important;
  }
  .screen-body {
    padding: 40px !important;
  }
  .screen-body-item {
    padding: 0 !important;
  }
}

@media only screen and (min-width: 800px) {
  .nav-container header .logo {
    font-size: 1.3rem;
  }
  .nav-container header .nav-item {
    font-size: 1.3rem;
  }
  section {
    padding: 4em 2em !important;
  }
  .mobile-order-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .story-text {
    text-align: left;
    padding-left: 3em;
  }
  .stats-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 11em !important;
  }
  .myEducation .content-container {
    padding: 1em 2em !important;
  }
  .myEducation .profile-container #profile-img {
    width: 80%;
  }
  .cards-container ul {
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    grid-gap: 6em !important;
    padding-top: 6em !important;
  }
  .portfolio-container {
    -ms-grid-columns: auto auto !important;
        grid-template-columns: auto auto !important;
  }
  .question {
    font-size: 1rem !important;
  }
  footer .social-container .social-card {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media only screen and (min-width: 1050px) {
  .nav-container header .logo {
    font-size: 1.3rem;
  }
  .nav-container header .nav-item {
    font-size: 1.3rem;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #282C34;
  }
  .nav-container header .logo {
    font-size: 1.2rem;
  }
  .nav-container header .nav-item {
    font-size: 1.2rem;
  }
  .nav-container .social-header {
    padding: 3em 0 2em 0;
    display: block !important;
    background-color: #20232A;
  }
  .nav-container .social-header .social-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nav-container .social-header .social-box a i:hover {
    color: #61DAFB;
  }
  .nav-container .social-header .icon-header {
    color: #fff;
  }
  header {
    padding: 2em 2em 2em 4em !important;
  }
  section {
    padding: 4em 4em 1em 4em !important;
  }
  .myEducation {
    padding: 4em 4em 1em 4em !important;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #282C34;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3.5rem;
    line-height: 1.5em;
  }
  .hero .content p {
    font-size: 1.2rem;
  }
  .hero .content-graphic {
    display: unset;
    background: #20232A;
  }
  .hero .content-graphic .editor-box {
    width: 22rem;
    height: 18rem;
    background: #282c34;
    border-radius: 23px;
    -webkit-box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.74);
            box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.74);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: -33%;
    margin-top: 39%;
  }
  .hero .content-graphic .editor-box .edit-item {
    width: 17rem;
    height: 4.5rem;
    background: #282c34;
    border-radius: 23px;
    -webkit-box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.74);
            box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.74);
    display: -ms-grid;
    display: grid;
    place-content: center center;
  }
  .hero .content-graphic .editor-box .edit-item.right {
    margin-left: -55%;
  }
  .hero .content-graphic .editor-box .edit-item.left {
    margin-right: -55%;
  }
  .hero .content-graphic .editor-box .edit-item .greeting-1 {
    color: #61DAFB;
    font-size: 1.3rem;
  }
  .hero .content-graphic .editor-box .edit-item .greeting-1 > .greeting {
    border-right: 0.2rem solid #fff;
  }
  .hero .content-graphic .editor-box .edit-item .greeting-2 {
    color: #E31B6D;
    font-size: 1.3rem;
  }
  .myEducation .profile-container #profile-img {
    width: 70%;
  }
  .portfolio-container {
    -ms-grid-columns: auto !important;
        grid-template-columns: auto !important;
    grid-gap: 10em !important;
    padding: 4em 3em;
  }
  .portfolio-container .project-container {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr 50% !important;
        grid-template-columns: 1fr 50% !important;
    grid-gap: 5rem !important;
    place-content: center;
  }
  .portfolio-container .project-container.reverse {
    direction: rtl;
  }
  .portfolio-container .project-container .rev_padding {
    padding: 1em !important;
  }
  .portfolio-container .project-container .project-specs {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .portfolio-container .project-container .project-specs .category {
    font-size: 1rem;
    color: #E31B6D;
    font-weight: 800;
  }
  .portfolio-container .project-container .project-specs .tech {
    font-weight: 700;
  }
  .portfolio-container .project-container .project-specs a {
    font-size: 1.1rem !important;
    color: #000 !important;
  }
  .portfolio-container .project-container .project-specs a:hover {
    color: #61DAFB !important;
  }
  .navigation-btn {
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
  .myEducation .content-container {
    padding: 0 !important;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-container header .logo {
    font-size: 1.4rem;
  }
  .nav-container header .nav-item {
    font-size: 1.4rem;
  }
  header {
    padding: 2em 2em 2em 10em !important;
  }
  section {
    padding: 4em 15em 4em 15em !important;
  }
  .myEducation {
    padding: 4em 10em 4em 10em !important;
  }
  .hero .content {
    padding: 6em 8em 6em 10em !important;
  }
  .myEducation .mobile-order-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .myEducation .mobile-order-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 3em;
  }
  .myEducation .cards-container ul {
    -ms-grid-columns: 1fr 1fr 1fr !important;
        grid-template-columns: 1fr 1fr 1fr !important;
  }
  .myEducation .stats-container .bar-flex {
    padding-bottom: 3em;
  }
  .myEducation .stats-container .bar-flex .inset {
    width: 25rem;
  }
  .myEducation .profile-container #profile-img {
    width: 55%;
  }
  .portfolio-container {
    padding: 4em 3em !important;
  }
  .portfolio-container .project-card {
    width: 25rem !important;
    height: 15rem !important;
  }
  .portfolio-container .project-card .inner-stroke {
    width: 20rem !important;
    height: 10rem !important;
  }
}

@media only screen and (min-width: 1500px) {
  .nav-container header .logo {
    font-size: 1.4rem;
  }
  .nav-container header .nav-item {
    font-size: 1.4rem;
  }
  header {
    padding: 2em 2em 2em 25em !important;
  }
  section {
    padding: 6em 25em 6em 25em !important;
  }
  .hero .content {
    padding: 9em 20em 6em 25em !important;
  }
  .hero .content h1 {
    font-size: 3.5rem;
  }
  .hero .content .meet p {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1550px) {
  .nav-container header .logo {
    font-size: 1.4rem;
  }
  .nav-container header .nav-item {
    font-size: 1.4rem;
  }
  header {
    padding: 2em 2em 2em 20em !important;
  }
  .social-header {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  section {
    padding: 6em 15em 6em 15em !important;
  }
  .myEducation {
    padding: 6em 15em 6em 15em !important;
  }
  .hero .content {
    padding: 9em 20em 6em 20em !important;
  }
  .hero .content-graphic .editor-box {
    width: 25rem;
    height: 21rem;
    margin-top: 32%;
  }
  .hero .content-graphic .editor-box .edit-item {
    width: 20rem;
    height: 5.5rem;
  }
  .hero .content-graphic .editor-box .edit-item .greeting-1 {
    font-size: 1.5rem;
  }
  .hero .content-graphic .editor-box .edit-item .greeting-1 > .greeting {
    border-right: 0.2rem solid #fff;
  }
  .hero .content-graphic .editor-box .edit-item .greeting-2 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1660px) {
  .nav-container header .logo {
    font-size: 1.4rem;
  }
  .nav-container header .nav-item {
    font-size: 1.4rem;
  }
  header {
    padding: 2em 2em 2em 30em !important;
  }
  section {
    padding: 6em 32em 6em 32em !important;
  }
  .hero .content {
    padding: 9em 20em 6em 30em !important;
  }
  .hero .content h1 {
    font-size: 4.5rem;
  }
  .hero .content .meet p {
    font-size: 1.6rem;
  }
  .title_education h1 {
    font-size: 2.5rem;
  }
  .myEducation .stats-container {
    padding: 2em 3em 2em 0 !important;
  }
  .myEducation .stats-container .bar-flex {
    padding-bottom: 3em;
    height: 3rem;
  }
  .myEducation .stats-container .bar-flex .inset {
    width: 30rem;
  }
  .myEducation {
    padding: 6em 15em 6em 15em !important;
  }
  .myEducation .cards-container ul {
    grid-gap: 10em !important;
  }
  .story-text {
    text-align: center;
    padding: 0 !important;
  }
  .story-text h3 {
    font-size: 1.3rem;
    padding: 0 !important;
  }
  .story-text p {
    line-height: 1.5rem !important;
    font-size: 1.2rem;
    padding: 1em 6em !important;
  }
  .myEducation .profile-container #profile-img {
    width: 45%;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

.pointer {
  animation: fingerAnim 1s infinite alternate-reverse;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(0px, -51px);
            transform: translate(0px, -51px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(-20px, -51px);
            transform: translate(-20px, -51px);
    z-index: 5;
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(0px, -51px);
            transform: translate(0px, -51px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(-20px, -51px);
            transform: translate(-20px, -51px);
    z-index: 5;
  }
}

@-webkit-keyframes fingerAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    z-index: 4;
  }
  to {
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
    z-index: 4;
  }
}

@keyframes fingerAnim {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    z-index: 4;
  }
  to {
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
    z-index: 4;
  }
}
/*# sourceMappingURL=main.css.map */