/* Global Colors */
:root {
    --primary: #377DFF;
    --darkBlue: #172144;
    --aktenblau: #5329EF;
    --blue: #08C6F9;
}

body {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: #F7F7F7;
    color: var(--darkBlue);
}

ul {
    text-align: left;
    line-height: 2em;
}

/* li {
    list-style-type: cri;
} */

a {
    text-decoration: none;
}

/* Forms styles START */

section {
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 60%;
}

input {
    margin-bottom: 15px;
    border: 1px solid  #818a91;
    width: 400px;
    height: 25px;
 
}

.banner-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    padding-bottom: 20px;
}

.divider {
    padding: 15px;
}




.banner-container span {
    padding-top: 5px;
}

hr {
    border: 1px solid #fff;
    width: 90%;
}


.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.box p {
    margin: 0;
}

.remove-item {
    display: none;

}


.btn-remove {
    text-decoration: none;
    text-decoration: none;
    background-color: #377DFF;
    padding: 5px 10px;
    margin: 0px 5px 0px 5px;
    border-radius: 62px;
    color: #fff;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}

.btn-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    width: 85%;

}

.bg-form {
    background-color: #5329EF;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 0em 1em 0em;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}

.btn-submit {
    border-radius: 40px;
    border: 2px solid #fff;
    color: #fff;
    background-color: #5329EF;
    width: 150px;
    height: 45px;
}

.btn-submit:hover {
    background-color: #fff;
    color: #377DFF;
    transition: 1ms;
}

.intro {
    text-align: center;
    width: 500px;
}

.underline {
    border-bottom: 2px solid #377DFF;
    width: 30%;
}

.logo-box {
    padding: 2em;
    width: 100%;
    text-align: center;
}
/* Forms styles END */


/* Overview styles START */

.instructions {
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 900px;
}

.clients-overview {
    background-color: #5329EF;
    width: 900px;
    height: 300px;
    align-items: center;
    padding: 1em 0em 1em 0em;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    display: flex;
    justify-content: space-evenly;
}

.client {
    width: 150px;
    height: 100px;
    border-radius: 15px;
    background-color: #5329EF;
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.link-to-client {
    color: #fff;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
}

.link-to-client:hover {
    border-radius: 40px;
    color: #fff;
    background-color: #377DFF;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);


}
/* Overview styles END */

.backTo {
    display: flex;
    justify-content: flex-start;
    padding: 2em 1em 0 3em;
    top: 0;
    position: sticky;
    
}

.backTo a {
    color: var(--primary);
}
.backTo a:hover {
    color: var(--aktenblau);
}




